<h1>Staticpages#home</h1>

Yummy Tasty is a saving app that helps you save money to the finer quality things. 

We are in beta

Sign up here for a beta invite.


<p>Find me in app/views/staticpages/home.html.erb</p>
